*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}
#main{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    background-color: black;
}
.cursor{
    mix-blend-mode: difference;
    height: 30px;
    width: 30px;
    background-color: rgb(247, 101, 101);
    border-radius: 50%;
    position: absolute;
    box-shadow: 0 0 100px 100px rgb(249, 178, 178);

}
h1{
    font-size: 7vw;
    font-weight: 800;
}